@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* prevent horizontal scroll */
}

::-webkit-scrollbar {
  width: 0px;      /* hide vertical scrollbar */
  height: 0px;     /* hide horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* optional: scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* optional: scrollbar thumb transparent */
}

body {
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;     /* hide scrollbar in Firefox */
}
